.sprite-000blue_accessory-02{ background-position: 0 0; width: 300px; height: 300px; } 
.sprite-000blue_body-10{ background-position: 0 -350px; width: 300px; height: 300px; } 
.sprite-000blue_eyes-07{ background-position: 0 -700px; width: 300px; height: 300px; } 
.sprite-000blue_face-07{ background-position: 0 -1050px; width: 300px; height: 300px; } 
.sprite-000blue_mouth-10{ background-position: 0 -1400px; width: 300px; height: 300px; } 
.sprite-001blue_accessory-01{ background-position: 0 -1750px; width: 300px; height: 300px; } 
.sprite-001blue_body-09{ background-position: -350px 0; width: 300px; height: 300px; } 
.sprite-001blue_eyes-09{ background-position: -350px -350px; width: 300px; height: 300px; } 
.sprite-001blue_face-03{ background-position: -350px -700px; width: 300px; height: 300px; } 
.sprite-001blue_mouth-07{ background-position: -350px -1050px; width: 300px; height: 300px; } 
.sprite-002blue_accessory-07{ background-position: -350px -1400px; width: 300px; height: 300px; } 
.sprite-002blue_body-03{ background-position: -350px -1750px; width: 300px; height: 300px; } 
.sprite-002blue_eyes-10{ background-position: -700px 0; width: 300px; height: 300px; } 
.sprite-002blue_face-08{ background-position: -700px -350px; width: 300px; height: 300px; } 
.sprite-002blue_mouth-04{ background-position: -700px -700px; width: 300px; height: 300px; } 
.sprite-003blue_accessory-03{ background-position: -700px -1050px; width: 300px; height: 300px; } 
.sprite-003blue_body-07{ background-position: -700px -1400px; width: 300px; height: 300px; } 
.sprite-003blue_eyes-02{ background-position: -700px -1750px; width: 300px; height: 300px; } 
.sprite-003blue_face-01{ background-position: -1050px 0; width: 300px; height: 300px; } 
.sprite-003blue_mouth-05{ background-position: -1050px -350px; width: 300px; height: 300px; } 
.sprite-004blue_accessory-05{ background-position: -1050px -700px; width: 300px; height: 300px; } 
.sprite-004blue_body-04{ background-position: -1050px -1050px; width: 300px; height: 300px; } 
.sprite-004blue_eyes-03{ background-position: -1050px -1400px; width: 300px; height: 300px; } 
.sprite-004blue_face-05{ background-position: -1050px -1750px; width: 300px; height: 300px; } 
.sprite-004blue_mouth-01{ background-position: -1400px 0; width: 300px; height: 300px; } 
.sprite-005blue_accessory-09{ background-position: -1400px -350px; width: 300px; height: 300px; } 
.sprite-005blue_body-05{ background-position: -1400px -700px; width: 300px; height: 300px; } 
.sprite-005blue_eyes-05{ background-position: -1400px -1050px; width: 300px; height: 300px; } 
.sprite-005blue_face-10{ background-position: -1400px -1400px; width: 300px; height: 300px; } 
.sprite-005blue_mouth-02{ background-position: -1400px -1750px; width: 300px; height: 300px; } 
.sprite-006blue_accessory-04{ background-position: -1750px 0; width: 300px; height: 300px; } 
.sprite-006blue_body-01{ background-position: -1750px -350px; width: 300px; height: 300px; } 
.sprite-006blue_eyes-06{ background-position: -1750px -700px; width: 300px; height: 300px; } 
.sprite-006blue_face-02{ background-position: -1750px -1050px; width: 300px; height: 300px; } 
.sprite-006blue_mouth-06{ background-position: -1750px -1400px; width: 300px; height: 300px; } 
.sprite-007blue_accessory-10{ background-position: -1750px -1750px; width: 300px; height: 300px; } 
.sprite-007blue_body-06{ background-position: -2100px 0; width: 300px; height: 300px; } 
.sprite-007blue_eyes-01{ background-position: -2100px -350px; width: 300px; height: 300px; } 
.sprite-007blue_face-09{ background-position: -2100px -700px; width: 300px; height: 300px; } 
.sprite-007blue_mouth-08{ background-position: -2100px -1050px; width: 300px; height: 300px; } 
.sprite-008blue_accessory-06{ background-position: -2100px -1400px; width: 300px; height: 300px; } 
.sprite-008blue_body-08{ background-position: -2100px -1750px; width: 300px; height: 300px; } 
.sprite-008blue_eyes-08{ background-position: -2450px 0; width: 300px; height: 300px; } 
.sprite-008blue_face-04{ background-position: -2450px -350px; width: 300px; height: 300px; } 
.sprite-008blue_mouth-09{ background-position: -2450px -700px; width: 300px; height: 300px; } 
.sprite-009blue_accessory-08{ background-position: -2450px -1050px; width: 300px; height: 300px; } 
.sprite-009blue_body-02{ background-position: -2450px -1400px; width: 300px; height: 300px; } 
.sprite-009blue_eyes-04{ background-position: -2450px -1750px; width: 300px; height: 300px; } 
.sprite-009blue_face-06{ background-position: -2800px 0; width: 300px; height: 300px; } 
.sprite-009blue_mouth-03{ background-position: -2800px -350px; width: 300px; height: 300px; } 
.sprite-cloud{ background-position: -2800px -700px; width: 300px; height: 300px; } 
.sprite-star{ background-position: -2800px -1050px; width: 300px; height: 300px; } 
.sprite-stripe{ background-position: -2800px -1400px; width: 300px; height: 300px; } 